{{!--
    Citation for starter code used in this file:
    Date Retrieved: 05/05/2026
    Adapted from: CS340 Node.js starter code
    Source: Oregon State University CS340 Exploration - Web Application Technology
    Type: Handlebars template / starter code

    Original bsg-people page syntax and structure was adapted into orderItems entity page.
--}} 


<!-- OrderItems Table Display -->
<h1>OrderItems</h1>

<table>

    <thead>
        <tr>
            <th>Order Item ID</th>
            <th>Order ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Product Name</th>
            <th>Quantity</th>
        </tr>
    </thead>

    <tbody>

        {{#each orderitems}}
            <tr>
                <td>{{this.orderItemID}}</td>
                <td>{{this.orderID}}</td>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.productName}}</td>
                <td>{{this.quantity}}</td>
            </tr>
        {{/each}}

    </tbody>

</table>


<!-- CRUD Actions Template !-->
<h2>Update OrderItem</h2>

<form method="POST" action="/update-orderitem">

    <label for="update-orderItemID">Order Item ID:</label>
    <input type="text" name="update-orderItemID" id="update-orderItemID">

    <label for="update-orderID">Order ID:</label>
    <input type="text" name="update-orderID" id="update-orderID">

    <label for="update-productID">Product ID:</label>
    <input type="text" name="update-productID" id="update-productID">

    <label for="update-quantity">Quantity:</label>
    <input type="text" name="update-quantity" id="update-quantity">

    <input type="submit">

</form>