{{!--
    Citation for starter code used in this file:
    Date Retrieved: 05/05/2026
    Adapted from: CS340 Node.js starter code
    Source: Oregon State University CS340 Exploration - Web Application Technology
    Type: Handlebars template / starter code

    Original bsg-people page syntax and structure was adapted into products entity page.
--}} 

<!-- Products Table Display -->
<h1>Products</h1>

<table>

    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Stock Quantity</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>

        {{#each products}}
            <tr>
                <td>{{this.productID}}</td>
                <td>{{this.productName}}</td>
                <td>{{this.category}}</td>
                <td>{{this.brand}}</td>
                <td>{{this.price}}</td>
                <td>{{this.stockQuantity}}</td>
                <td>{{this.description}}</td>
            </tr>
        {{/each}}

    </tbody>

</table>

<!-- CRUD Actions Template !-->
<h2>Add Product</h2>

<form class="crud-form" method="POST" action="/add-product">

    <label for="input-productName">Product Name:</label>
    <input type="text" name="input-productName" id="input-productName">

    <label for="input-category">Category:</label>
    <input type="text" name="input-category" id="input-category">

    <label for="input-brand">Brand:</label>
    <input type="text" name="input-brand" id="input-brand">

    <label for="input-price">Price:</label>
    <input type="text" name="input-price" id="input-price">

    <input type="submit">

</form>